<!DOCTYPE html>
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/static/interaction.js"></script>
</head>
<style>
div.scroll_div {
  background-color: lightblue;
  width: 600px;
  height: 110px;
  overflow: scroll;


}

div.gen_info {
background-color: pink;

}
</style>
<body>
<div class="gen_info">
	<h2> Data Features </h2>
	<form>
  		<label for="filename">Current Base Piece:</label>
  		<input type="text" id="filename" name="filename" value={{filename}}>
  		<label for="key">Key:</label>
  		<input type="text" id="key" name="key" value={{key}}><br>
  		<label for="grouping">Measure Offsets for Grouping:</label>
  		<input type="text" id="grouping" 
					name="grouping"  value={{grouping}}><br>
  		<label for="offsets">Note Offsets for Grouping:</label>
  		<input type="text" id="offsets" name="offsets" value={{offsets}}>
  		<input type="submit" value="Submit">
	</form>
</div>
<div>
	<h2>Load New File </h2>
	 <form action = "/success" method = "post" enctype="multipart/form-data">
		  <input type="file" name="file"  />
		  <input type = "submit" value="Upload">
	 </form>
</div>
<div>
Click the below button to change to a different encoding scheme
</div>

<div>
	<button id="grouped">Change to Forced Grouping Encoding</button>		
	<button id="basic">Change to Basic Encoding</button>
	<button id="RN">Change to Roman Numeral Encoding</button>
	<button id="grouped_RN">Change to Grouped Roman Numeral Encoding</button>
</div>


<script>
	//These variables are instantiated in Flask and can be 
	//changed through Observable or directly through html

	
	var data = {{data|tojson}}//corresponds Observable cell
	var filename = {{filename|tojson}}
	var randomwalk = {{randomwalk|tojson}}//corresponds to Observable
	var key = {{key|tojson}}
	var grouping = {{grouping|tojson}}
	var offsets = {{offsets|tojson}}
	//any information coming in needs to be converted to json 
	//(to my knowlege) 
</script>

<!--To display current json string, add {{data}} in the div  -->
<!-- currently used network. This is just here for debugging purposes-->

<div>
	<h1> General Parameters </h1>
	<h2>Graph Json Data is (hidden in final)</h2>
		<div id="data_test" class="scroll_div">
		{{data}}
		</div>
	<h2>Random Walk is (hidden in final)</h2>
		<div id="randomwalk_test" class="scroll_div">
			{{randomwalk}}
		</div>
	<h2>Key is (Part of form in final)</h2>
		<div id="key_test">
			{{key}}
		</div>
	<h2>Offset is </h2>
		<div id="offset_test">
			{{offsets}}
		</div>
	<h2>Grouping is </h2>
		<div id="grouping_test">
			{{grouping}}
		</div>
	
	


<div>

<!-- This script instantiates our Observable script and -->
<!--controls how information is passed in and out of -->
<!-- Observable-->
<script type="module">

// Load the Observable runtime and inspector.
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";

// Your notebook, compiled as an ES module.
import notebook from "https://api.observablehq.com/d/660ed25f1beeb456.js?v=3";

// Load the notebook, observing its cells with a default Inspector
// that simply renders the value of each cell into the provided DOM node.
const main = new Runtime().module(notebook, Inspector.into(document.body));

//Match the "data" variable defined in Observable to the data variable
//passed into index.html through Flask
main.redefine("data", data);


</script>





</body>

</html>
